
body{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.firstsection{
    background-color: rgba(0, 0, 0, 0.81);
}
/* navbar Styles */

.navbar{
    background-color: rgb(35, 23, 23);
    display: flex;
    justify-content: end;
    flex-direction: row;
    padding: 1.5rem 3rem 1.5rem ;
    align-items: flex-end;
}

.navbar a{
    color: white;
    list-style-type: none;
    text-decoration: none;
    padding: 15px 50px 30px 15px;
    transition: .2s ease in;
}

.navbar a:hover{
    color: whitesmoke;
    font-size: 17px;
}
/* left top text */
#portTop{
    color: white;
    position: absolute;
    left: 15rem;
    top: 6rem;
    font-size: 2rem;
}

/* right top text*/
#contTop{
    color: white;
    display: inline-flex;
    justify-content: end;
    padding-left: 2rem;
}
 
/* top section image*/

#textSection{
   
    /* border: 1px solid rgb(255, 255, 255); */
    /* background-color: silver; */
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 12rem;
    padding-top: 15rem;
}

#textSection h2{
    color: orange;
    font-size: 30px;
    display: flex;
    justify-content: start;
    
}

#textSection h1{
    color: #fff;
    font-size: 50px;
    letter-spacing: 3px;
    display: flex;
    justify-content: start;
    margin-top: -0.8rem;

}
/* why the paragrapgh doen't by defining justify-content:center;?*/
#textSection p{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* border: 1px solid white; */
    font-size: 18px;
    text-align: left;
    margin-left: 2rem;

}
#textSection input{
    background-color: orange;
    padding: 12px;
    width: 10rem;
    border-radius:20px;
    display: flex;
    justify-content:center;
    margin-left: 10rem;
    margin-top: 0.8rem;
}

/* gallery section */

.photo{
    display: flex;
    justify-content: end;
    margin-top: -25rem;

}

.photo img{
    width: 600px;
    height: 500px;
    border-radius: 5px;
}

.secondSection{
    background-color: rgba(0, 0, 0, 0.7);
    display: grid;
    grid-template-columns: repeat(2,50%);
}

.secondSection .leftCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    margin-top: 3rem;
}

.secondSection .leftCol img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
}
.secondSection .leftCol .imageTop{
      width: 300px;
      height: 300px;
       border-radius: 10px;
       border: 1px solid gray;
       box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
       position: relative;
       top: -250px;
       left: -150px;
}

.secondSection .rightCol{
    margin-left: 4rem;
    width: 80%;
    margin-top: 5rem;
}
.secondSection .rightCol h1, p{
    color: white;
}