
body{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.firstsection{
    background-color: rgba(0, 0, 0, 0.81);
}
/* navbar Styles */

.navbar{
    background-color: rgb(35, 23, 23);
    display: flex;
    justify-content: end;
    flex-direction: row;
    padding: 1.5rem 3rem 1.5rem ;
    align-items: flex-end;
}

.navbar a{
    color: white;
    list-style-type: none;
    text-decoration: none;
    padding: 15px 50px 30px 15px;
    transition: .2s ease in;
}

.navbar a:hover{
    color: whitesmoke;
    font-size: 17px;
}
/* left top text */
#portTop{
    color: rgb(0, 0, 0);
    position: absolute;
    left: 15rem;
    top: 6rem;
    font-size: 2rem;
}

/* right top text*/
#contTop{
    color: white;
    display: inline-flex;
    justify-content: end;
    padding-left: 2rem;
}
 
/* top section image*/

#textSection{
    margin-left: 5rem;
    padding-top: 5rem;
    border: 1px solid rgb(255, 255, 255);
    /* background-color: silver; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 5rem;
}

#textSection h2{
    color: orange;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

#textSection h1{
    color: #fff;
    font-size: 40px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    margin-top: -0.8rem;

}
#textSection p{
    color: #fff;
    display: flex;
    justify-content: center;
    width: 30;

}
#textSection input{
    background-color: orange;
    padding: 12px;
    width: 10rem;
    border-radius:20px;
    display: flex;
    justify-content: center;
    margin-left: 10rem;
}