*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: antiquewhite;
}
.BoxModel{
    background-color: rgb(225, 231, 231);
    width: 90%;
    height: 600px;
    border: 2px solid black;
    margin:5vw;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    
}

                                                         /* Usage of Box-sizing:Conten-box*/
.ContentBox{
    border: 2px solid black;
    border-radius: 5px;
    width: 70vw;
    height: 25vh;
    margin-left: 6.5vw;
    margin-top: 5vh;
    text-align: left;
    padding:25px;
    box-sizing: content-box;  
    background-color: rgb(216, 229, 229);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    font-style: italic;

}
.Content_Box{
    text-align: center;
}
                         /*The Usage of box-sizing:border-box */
    
.BorderBox{
    border: 2px solid black;
    width: 70vw;
    height: 25vh;
    margin-left: 8.5vw;
    padding: 25px;
    margin-top: 5vh;
    border-radius: 5px;
    background-color: blanchedalmond;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
                               
}