*, *::before, *::after{
    box-sizing:border-box;
    overflow: scroll;
}
:root{
    --font-size:16px;
    --color:rgba(0,123,220,0.8);
}
body{
    background-color: aliceblue;
    margin: 10px;
    box-sizing: border-box;

}

.MainContainer{
    background-color: rgba(107, 151, 181, 0.2);
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    border: 2px solid green;
}
h1{
    text-align: center;

}
 .Shortcuts{
    border: 1px solid black;
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    /* margin: 2vw; */
    /* border-radius: 5px; */
    position: relative;
}
.First{
    position: absolute;
    top: 10vh;
    left: 3vw;
    width: 55vw;
    height: 23vh;
    padding: 5px;
    line-height: 1.4rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
h3{
    position: absolute;
    top: 32.5vh; 
    right: 5vw;
}
.Second {
    position: absolute;
    top: 39vh;
    right: 2vw;
    width: 60vw;
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 1rem;
   
}
.thirdHeading{
    position: absolute;
    top:61.5vh ;
    left: 4vw;
}
.Third {
    position: absolute;
    top: 68vh;
    left: 3vw;
    width: 50vw;
    height: 24vh;
    padding-left: 20px;
    padding-top: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 20px;
    line-height: 1.5rem;
    
}
ul > li {
    list-style-type: none;
    
    
}
div > li{
    list-style-type:none;
}
