body{
    background-color: rgb(224, 226, 226);
}
div {
    background-color: antiquewhite;
    position: relative;
    /* display: flex;
    justify-content: center; 
     align-items: center;  */
    width: 90%;
    height: 20rem;
    margin-left: 5%;
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
}
input{
    position: relative;
    list-style-type: none;
    padding: 10px;
    /* background-color: transparent; */
    /* border-bottom: 1px solid black; */
    border: 1px solid black;
    /* box-shadow: 2px 5% black; */
    
 }
label{
    font-size: 16px;
    color: green;
    /* display: inline-block; */
    float: left;
}
.Submit{
    padding: 14px 20px;
    background-color: rgb(32, 126, 32);
    color: whitesmoke;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    border: none;
}
.Submit:hover{
    background-color:rgb(51, 159, 51) ;
}
div>ul>ul>li>a{
    /* display: block; */
    color: black;
    padding: 10px;
    margin-top: 10px;
    background-color: whitesmoke;
    text-decoration: none;
    font-family: sans-serif;
    list-style-type:none;
    width: 200px;
}
a{
    /* display: none; */
}
a:focus{
    background-color: green;
    color: white;
}
