body{
    background-color: rgb(224, 226, 226);
}
.MainContainer {
    background-color: antiquewhite;
    position: relative;
    /* display: flex;
    justify-content: center; 
     align-items: center;  */
    width: 90%;
    height: 20rem;
    margin-left: 5%;
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
}
input{
    position: inline-block;
    padding: 10px;
    background-color: transparent;
    border:1px solid black;
    /* outline: none; */
    /* box-shadow: 2px 5% black; */
    
 }
label{
    float: left;
    padding-bottom: 30px;
    padding-top: 10px;
    font-size: 18px;
    
}
.Submit{
    padding: 14px 20px;
    background-color: rgb(32, 126, 32);
    color: whitesmoke;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    border: none;
    position: absolute;
    bottom: 40px;
    left: 65px;
}
.Submit:hover{
    background-color:rgb(51, 159, 51) ;
}
.Dropdown{
    display: block;
    color: black;
    padding: 10px;
    margin-top: 10px;
    background-color: whitesmoke;
    text-decoration: none;
    font-family: sans-serif;
    width: 200px;
    position: absolute;
    top: 130px;
    left: 55px;
    text-align: left;
}
 ul li a {
     color:black;
     
     padding-top: 20px;
     /* gap: 5px; */
     font-size: 16px;
     height: 100px;
     text-align: left;
}
 li > a:hover{
    background-color: green;
    color: white;
}
.InputFirstName{
    position: absolute;
    top: 10px;
    left: 50px;
    display: inline-block;
    padding: 10px;
}
.InputLastName{
    position: absolute;
    top: 10px;
    left: 50%;
    padding: 10px;
    width: 6rem;
}