body {
    overflow-x: none;
    box-sizing: border-box;
}

.mainContainer {
    /* background-color: powderblue; */
    /* border: 2px solid black; */
    /* margin: 3em; */
    padding: 2rem;
}

.mainContainer .firstSection {
    /* border: 1px solid black; */
    width: 100%;
    height: 70vh;
    flex-wrap: wrap;
    gap: 30px
    /*Why the gap P. doesn't work?*/
}

.mainContainer .firstSection img {
    width: 80%;
    height: auto;
    overflow: hidden;
    position: relative;
    left: 8vw;
    right: 8vw;
    opacity: 1;
   
}

.mainContainer .firstSection h1 {
    color: white;
    text-align: center;
    font-size: 70px;
    position: absolute;
    top: 25%;
    left: 25%;

}

.mainContainer .firstSection  h5{
    color: rgb(255, 255, 255);
    font-size: 40px;
    position: absolute;
    top: 60%;
    left: 44%;
    font-size: 28px;
    letter-spacing: 2.5px;
    font-weight: 200;
}

.mainContainer .firstSection .listMenu {
    position: absolute;
    top: 65%;
    left: 30%;
}

.mainContainer .firstSection .listMenu a {
    color: black;
    text-decoration: none;
    background-color: orange;
    padding: 12px 55px;
    border-radius: 25px;
    /* display: inline-grid;
    justify-content: space-between; */
    margin-left: 50px;
    position: relative;
    left: -250px;
    top: 80px;


}

.mainContainer .firstSection p {
    color: white;
    font-size: 22px;
    /* font-family: cursive; */
    font-weight: 300;
    position: relative;
    left: 40%;
    top: -25%;
    font-weight: 100;
}

.mainContainer .firstSection p a {
    color: white;
    text-decoration-color: white;
    
}

.mainContainer>.firstSection>.listMenu>a:hover {
    background-color: whitesmoke;
    color: black;
}

/*Second Section Part of University Landing Page*/
.secondSection {
    /* border: 1px solid black; */
    /* background-color: #fcfCF7; */
    padding: 10px;
    width: 79%;
    height: 70vh;
    margin-top: 12em;
    margin-left: 8vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: start;

}

.secondSection h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 520;
}

.secondSection img {
    height: 350px;
    width: 500px;
    margin-left: 5vw;
    border-radius: 20px;
}

.secondSection p {
    color: #353030;
    margin-top: 5vh;
    text-align: center;
    font-size: 20px;
}
.secondSection #Lists{
    /* border: 1px solid black; */
    width: 300px;
    height: 450px;
    /* background-color: gray; */
    position: relative;
    top: -440px;
    margin-left: 110px;
    
}
.secondSection #Lists p {
    color: rgb(14, 14, 16);
    text-align: center;
    /* background-color: #F4F1F8; */
    font-size: 20px;
    font-weight: bold;
    /* margin-top: -60px; */
    /* display: grid;
    place-content: end center; */
    display: black;
    position: relative;
    /* left: 50px; */
    width: 300px;
    /* margin-left: 5vw; */
    line-height: 5px;

}

.secondSection div .Arrow {
    position: relative;
    top: 10px;
    left: 100px;
}

/*third Section CSS Designing*/
.thirdSection {
    margin-top: 12rem;
    /* border: 1px solid black; */
    background-color: rgb(3, 3, 70);
    width: 80%;
    height: 800px;
    margin-left: 7.5vw;
    /* gap: 10px; */
    display: inline-grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 70px;
    padding-left: 12px;

}
.thirdSection img[src*="UniLandingPageImage/StudentImage.jpeg"] {
    margin-top: -20px;
}
.thirdSection img[src*="UniLandingPageImage/WhatsApp Image 2025-07-22 at 07.30.27.jpeg"]{
    margin-top: -20px;
}
.thirdSection .Image {
    height: 290px;
    width: 215px;
    margin-top: 10vh;
    margin-left:10px;
}

/*How to use the nth-child instead class here?*/
/* .thirdSection:nth-child(even)*/

.thirdSection .Images {
    background-color: #fff;
    border: 1px solid black;
    /* height: 300px; */
    /* width: 150%; */
    display: inline-flex;
    /* place-content: flex-start center; */
    margin-left: 1rem;
    margin-top: 2.2rem;
    border-radius: 20px;
    

} 

.thirdSection .Images {
    height: 300px;
    width: 200px;
    color: #000;
    
}
/*Why can't add width to the h2 to add only in one line?*/
.thirdSection .Images h2 { 
    height: 100px;
    width: 300px;
    padding: 0px;
    margin: 0px;
    color: #000;
    text-align: center;
    position: relative;
    top: 1rem;
    left: 4rem;
    font-size: 20px;
    /* border: 1px solid black; */


}

.thirdSection .Images p {
    color: #000;
    text-align: center;
    position: relative;
    top: 6rem;
    left: -2rem;
    font-size: 18px;

}

.thirdSection .Images a {
    position: relative;
    top: 16.5rem;
    left: -5.5rem;
    color: #000;

}

.thirdSection p {
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    left: 25rem;
}

.thirdSection p a {
    color: white;
    text-decoration-color: yellow;
}

/*FourthSection CSS Designing*/
.fourthSection {
    margin-top: 4rem;
    margin-left: 7rem;
    width: 80%;
    height: 120vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 2px solid black; */
    background-color: rgba(138, 138, 142, 0.3);
    opacity: 1;
    
}

.fourthSection h1 {
    text-align: center;
    color: black;
    font-size: 45px;
    position: relative;
    left: 18vw;

}

.fourthSection img {
    height: 600px;
    width: 400px;
    border-radius: 30px;
    display: grid;
    position: relative;
    top: 8rem;
    left: -33vw;
}
/*Should add the mark icon from awesome.com*/
.fourthSection div p {
    color: black;
    font-size: 18px;
    display: block;
    position: relative;
    top: -30rem;
    left: 45vw;
    width: 300px;
    padding-top: 1rem;
    text-align: justify;
}

.fourthSection .link {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    top: 20vh;
    left: -5vw;
}

.fourthSection .link a {
    color: white;
}

/*fifthSection CSS Designing*/
.fifthSection {
    height: 850px;
    width: 80%;
    /* border: 1px solid black; */
    margin-left: 7rem;
    overflow: hidden;
    

}

.fifthSection div {
    background-color: rgb(3, 3, 70);
    height: 800px;
    width: 60%;
    position: relative;
    left: 40%;
}

.fifthSection div img {
    margin-top: 7vh;
    position: relative;
    left: -60%;
    width: 820px;
    height: 450px;
    border-radius: 20px;
}

.fifthSection div div {
    width: 450px;
    height: 450px;
    background-color: orange;
    border: none;
    padding: 15px;
    border-radius: 20px;
    position: relative;
    left: -300px;
    top: -138px;
}

.fifthSection div h1 {
    color: black;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 40px;
}

.fifthSection div p {
    color: #000;
    padding-left: 20px;
    text-align: left;
    line-height: 25px;
    font-size: 18px;
}

.fifthSection p {
    margin-top: -10px;
    font-size: 15px;
}

.fifthSection input {
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: rgb(2, 2, 117);
    /*How to set size of input types in css?*/
    color: rgba(245, 245, 245, 0.866);
    /*Input Type color didn't work*/
    border: none;
    font-weight: 100;
}
.fifthSection input:hover{
    color: rgba(255, 255, 255, 0.501);
}


.fifthSection div .secondImage {
    position: absolute;
    top: 400px;
    left: 510px;
    background-color: transparent;

}

.sixthSection {
    background-color: bisque;
    height: 800px;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.sixthSection #blueDark {
    width: 100%;
    height: 450px;
    background-color: rgb(3, 3, 70);

}

.sixthSection #darkOrange {
    width: 50%;
    height: 400px;
    background-color: orange;
    border-radius: 15px;
    position: relative;
    top: -200px;
    left: 440px;
}

.sixthSection div img {
    width: 830px;
    height: 580px;
    position: relative;
    top: -850px;
    left: 40px;
    border-radius: 15px;
}

.cardImage {
    /* background-color: antiquewhite; */
    width: 55%;
    margin-left: 12%;
    margin-top: -290px;
    position: absolute;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    /*How to eleminate the space between three cards through grid_template-columns?*/


}

.cardImage .circle {
    height: 300px;
    width: 250px;
    /* border: 1px solid black; */
    margin-left: 6%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.cardImage div h1 {
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 40px;

}

.cardImage .circle img {

    width: 170px;
    height: 170px;
    border-radius: 50%;
    position: relative;
    left: 35px;
    top: 20px;
}

.cardImage div p {
    font-size: 20px;
    position: relative;
    left: 135%;
    top: -5px;
}
.cardImage div p a{
    color: #000;
}

/*seventh Section CSS Designing*/
.seventhSection {
    /* background-color: aquamarine; */
    width: 70%;
    height: 200px;
    margin-left: 15%;
    padding-top: 60px;
    /* border: 1px solid black; */
}
.seventhSection h1{
    padding: 10px;
    font-size: 35px;
}
.seventhSection p{
    padding-left: 10px;
    margin-top: -15px;
    font-size: 22px;
    color: rgba(0, 0, 0,0.5);
    width: 99.5%;
}
.eigthSection{
    background-color: orange;
    /* border: 1px solid black; */
    width: 70%;
    height: 620px;
    margin-left: 15%;
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.eigthSection div {
    border:transparent;
    width: 250px;
    height: 400px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 25px;
    font-size: 18px;
    border-radius: 20px;
    background-color: rgb(250, 241, 241);
    position: relative;
    top: -100px;
    margin-left: 20px;
}
.eigthSection h2{
    font-weight: 100;
    font-size: 32px;
}
.lastSection{
    background-color:darkblue;
    width: 70%;
    height: 300px;
    margin-left: 15%;
    margin-top: -24px;
    
}
.lastSection div{
    background-color: white;
    width: 90%;
    height: 400px;
    margin-left: 5%;
    border-radius: 30px;
    position: relative;
    top: -200px;
}
.lastSection div div{
    /* background-color: white; */
    width: 40%;
    height: 350px;
    margin-left: -5px;
    border-radius: .1px;
    position: relative;
    top: 30px;
    left: 10px;
}
.lastSection div div h1{
    font-size: 35px;
    padding-left: 40px;
    padding-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.lastSection div div p{
    padding-left: 35px;
    padding-right: 35px;
    font-size: 23px;
    color:gray;
    line-height: 30px;
}
.lastSection .socialMedia{
    width: 60%;
    height: 50px;
    /* border: 1px solid black; */
    margin-left: 25px;

}
/*Should add the social media Icon from Material.com*/
.lastSection .socialMedia a{
   color: black;
   text-decoration: none;
   padding: 15px;
   border: 1px solid black;
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 12px;
   font-weight: bold;
   font-size: 14px;

}
.lastSection form{
    position: relative;
    top: -280px;
    left: 400px;
    width: 130%;
    height: 350px;
    /* border: 1px solid black; */
    /* background-color: white; */
    padding-top: 50px;
    
}
.lastSection form input{
    padding: 10px;
    margin: 10px;
    padding: 15px;
    font-size: 15px;

}
.lastSection form label{
    font-size: 18px;
}
.lastSection form input[type*=text]{
    width: 90%;
    background-color: whitesmoke;
    border: transparent;
    outline: none;
    border-radius: 5px;
    
}
.lastSection form label[for*=name]{
    padding-left: 12px;
    font-weight: 100;
}
.lastSection form input[type*=tel]{
    width: 40%;
    background-color: whitesmoke;
    border: transparent;
    border-radius: 5px;
}
.lastSection form label[for*=phone]{
    padding-left: 12px;
}
.lastSection form input[type*=email]{
    background-color: whitesmoke;
    width:41%;
    border: transparent;
    border-radius: 5px;
    position: relative;
    top: -68px;
    left: 230px;
}
.lastSection form label[for*=email]{
    position:relative;
    top: -42px;
    padding-left: -1px;
}
.lastSection form input[type*=submit]{
    position: relative;
    top: -55px;
    width: 95%;
    border: transparent;
    background-color: darkorange;
    border-radius: 10px;

}
.lastSection form input[type*=submit]:hover{
    background-color: darkblue;
    color: white;
}