
body{
    overflow-y: scroll;
}
                /* CSS Single and Simple Loader Section */
.Container{
    /* position: relative;  */
    display: flex;
    height: 200px;
    width: 95%;
    background-color: antiquewhite;
    border: 1px solid whitesmoke;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    margin-left: 2.5vw;
    margin-top: 7vh;
    border-radius: 8px;
    justify-content: center;
    align-items: center;


}
h1{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family:sans-serif ;
    font-weight: 500;
    margin-top: 8vh;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.015);
}
.loader{
    width: 50px;
    height: 50px;
    border: 8px solid green;
    border-top: 8px solid rgb(255, 255, 255);
    border-bottom: 8px solid white;
    border-radius: 50%;
    animation: circleLoader 2s linear infinite;
    /* position: absolute;
    top: 8vh;
    left: 45vw; */
    
    
}
.loader:hover, h1:hover{
    scale: 1.1;
    
}
@keyframes circleLoader {
    0% {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

                /* CSS Dots Loader Section */

.MainContainer{
    height: 200px;
    width: 95%;
    border: 1px solid rgb(180, 189, 164);
    border-radius: 5px;
    margin-left: 2.5vw;
    display: flex;
    background-color: antiquewhite;
    justify-content: space-around;
    align-items: center;
}
/* .ChildContainer{
    width: 150px;
    height: 80px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;

} */
.ChildContainer div{
    border: 1px solid;
    border-color: aliceblue;
    background-color: blueviolet;
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 50%;
    animation: DotsLoader 1.5s ease infinite;
}
.ChildContainer div:nth-child(1){
    animation-delay: -0.6s;
}
.ChildContainer div:nth-child(2){
    animation-delay: -0.5s;
}
.ChildContainer div:nth-child(3){
    animation-delay: -0.4s;
}
.ChildContainer div:nth-child(4){
    animation-delay: -0.3s;
}
.ChildContainer div:nth-child(5){
    animation-delay: -0.2s;
}
.ChildContainer div:nth-child(6){
    animation-delay: -0.1s;
}
@keyframes DotsLoader {
    0%, 100%{
        transform: scale(1.2);
        opacity: 1;
        background-color: rgb(69, 69, 158);
        border-color: rgb(254, 254, 254);
    }
    50% 
    {
        transform: scale(0.5);
        opacity: 0.3;
    }
}

        /* CSS Three Styles Loader */

.MainDiv{
    border: 1px solid rgb(187, 187, 201);
    height: 200px;
    width: 95%;
    margin-left: 2.5vw;
    border-radius: 5px;
    margin-top: 3vh;
    background-color: azure;
    box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Loader{
    border: 10px solid azure;
    border-top: 10px solid #a00ff0;
    border-bottom: 10px solid #a00ff0;
    border-radius: 50%;
    width: 50px;
    height: 50px;   
    animation: LoaderTypes 2s linear infinite;
}
.SecondType{
    border-right: 10px solid #2b9733;
}
.ThirdType{
    border-top: 10px solid rgb(0, 0, 0) ;
    border-bottom: 10px solid red;
    border-left: 10px solid green;
    border-right: 10px solid whitesmoke;
}
@keyframes LoaderTypes {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
                        /*CSS Gradient Color Section */
.MainGradientColor{
    border: 1px solid rgba(128, 128, 128, 0.475);
    width: 90%;
    height: 200px;
    border-radius: 5px;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 248, 220, 0.344);
    margin-left: 5vw;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ChildGradientColor{
    border: 10px solid black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: linear-gradient(180deg green, purple);
    mask: conic-gradient(#934646, rgb(74, 74, 197)), linear-gradient(#fee000, 0, 0) content-box;
    animation: GradientLoader 2s linear infinite;
}
@keyframes GradientLoader{
    to{
        transform: rotate(1turn);
    }
}
