 body {
     background-color:  #A4B465;
     /* position: relative; */
     /* Why the above position disappear the main div? */

 }

 .main {
     background-color: #626F47;
     position: absolute;
     width: 40%;
     height: 80%;
     margin-left: 30vw;
     margin-top: 10h
     box-shadow: 10px 10px white;
     /* Why Box-shadow doesn't work? */
 }

 img {
     display: inline-block;
     width: 20%;
     height: 25%;
     text-align: center;
     margin-left: 12vw;

 }

 h2 {
     display: block;
     text-align: center;
     padding-bottom: 4vh;
     font-family: 'Times New Roman', Times, serif;
     color: white;
     text-shadow: 0 5px 4px 0 2px white;
     /* How to add text-shadow */

 }

 .login {
     position: absolute;
     display: block;
     margin-top: 10vh;
     float: left;
     width: 30vw;
     margin-left: 5vw;
 }

 .input {
     margin-bottom: 1rem;
     padding: 0.2rem;
     width: 80%;
     margin-left: 2.1vw;
 }

 .input2 {
     display: block;
     width: 4rem;
     height: auto;
     margin-left: 12vw;
     margin-bottom: 6rem;
     padding:7px 12px;
    margin-top: 0.5rem;
    border-radius: 12px;
 }

 a {
     position: relative;
     text-align: center;
     display: block;
     width: 8rem;
     text-align: center;
     color: white;

 }