body {
    background-color:rgb(148, 171, 101);
    margin: 0;
    padding: 0;
}
ul {
    background-color: rgb(66, 93, 169);
    overflow: none;
    list-style-type: none;
    width:100%;
    display: flex;
    flex-direction:row;
    /* margin-left: 5px; */
    padding-left: 10px;
}
li a{
    display:block;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    color: white;
}
li > img {
    background-color: rgb(66, 93, 169);
    position: fixed;
    top: 18px;
    right: 20px;
}
li a:hover {
   background-color: rgb(48, 69, 131);
    color:white
}
 .active-link {
    background-color:rgb(52, 66, 108);
    color: rgb(231, 231, 231);
}